<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
@{
    var isHomeIndex = ViewContext.RouteData.Values["controller"]?.ToString() == "Home" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "Index";
    var navbarClass = isHomeIndex ? "special-navbar" : "navbar";
}
<nav class="menu @navbarClass" style="height:auto;">
    <a class="btn home_btn" style="font-size:40px; font-weight: bold; margin-left:1rem; color:white;" href="@Url.Action("Index", "Home")">
        <span class="category-text">BUDIMEB</span>
        <img src="~/home-icon.png" class="category-icon" style="width:40px; height:40px; filter: invert(1);" alt="Home Page" />
    </a>
    <div style="margin-bottom:5px; margin-top:5px;">
        @foreach (var category in (IEnumerable<budimeb.Models.Category>)ViewData["Categories"])
        {
            <a class="btn" style="font-size:25px; color:white; " href="@Url.Action("Category", "Home", new { categoryId = category.Id })">
                <span class="category-text">@category.Name</span>
                <img src="@category.IconClass" class="category-icon" style="width:40px; height:40px; filter: invert(1);" alt="@category.Name" />
            </a>
        }
    </div>
    <div style="margin-left:2rem;">
        <a class="nav-link" href="https://www.facebook.com/Budimeb" target="_blank">
            <i class="fab fa-facebook"></i> <!-- Ikona Facebooka -->
        </a>
        <a class="nav-link" style="margin-right:1rem; margin-left:1rem;" asp-area="" asp-controller="Home" asp-action="Contact">
            <i class="fas fa-phone"></i>
        </a>

    </div>
</nav>
