@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <link href="~/css/home_page.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

</head>
<body>
    <section class="hero">
        <header id="header">
            @(await Component.InvokeAsync("Menu"))
        </header>
        <div class="hero-header">
            <h1 class="hero-title" style="font-family: 'Josefin Sans', sans-serif">BUDIMEB</h1>
            <h2 style="font-family: 'Josefin Sans', sans-serif">Meble na wymiar</h2>
        </div>
        <footer class="hero-footer">
            <a class="button button-primary" href="@Url.Action("Contact", "Home")">Kontakt</a>
            <a class="button" href="@Url.Action("About", "Home")">O nas</a>
        </footer>
    </section>

    <div class="article-container">
        <h2 class="article-header">Nasze produkty</h2>
        <div class="underline"></div>
        <div class="container">
            @foreach (var cat in ViewBag.Categories)
            {
                <div class="card">
                    <a href="@Url.Action("ProjectsByCategory", "Home", new { categoryId = cat.Id })" class="card__link">
                        <img src="@cat.PhotoPath" alt="@cat.Name">
                    </a>
                    <div class="card__description">@cat.Description</div>
                    <div class="card__head" style="word-break: break-all;">
                        @cat.Name
                        <a href="/Home/EditCategory/@cat.Id" class="card__edit">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="article-container">
        <h2 class="article-header">Poznaj nas lepiej</h2>
        <div class="underline"></div>
        <div class="article-content poznaj-nas-lepiej-content">
            <img class="img-article" src="~/index_about.jpg" />
            <div class="article-text">
                <p>Jesteśmy szczecińską firmą specjalizującą się w produkcji mebli na wymiar. Nasza oferta obejmuje szeroki wybór mebli, które można dostosować do indywidualnych potrzeb i preferencji każdego klienta. Dzięki naszemu doświadczeniu i zaangażowaniu, gwarantujemy najwyższą jakość i satysfakcję z zakupionych produktów.</p>
                <p>Nasze meble wyróżniają się nie tylko funkcjonalnością, ale również unikalnym designem. Stale śledzimy najnowsze trendy i wprowadzamy innowacyjne rozwiązania, aby zapewnić naszym klientom produkty zgodne z ich oczekiwaniami.</p>
                <p>Zapraszamy do zapoznania się z naszą ofertą i skorzystania z naszych usług. Jesteśmy przekonani, że znajdą Państwo u nas idealne meble do swojego domu lub biura.</p>
                <p style="text-align:right">
                    <a href="@Url.Action("About", "Home")" style="color:rgb(88, 57, 39);"
                       onmouseover="this.style.color='rgb(0,0,0)';"
                       onmouseout="this.style.color='rgb(88, 57, 39)';">
                        Czytaj więcej
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="article-container">
        <h2 class="article-header">Dlaczego my?</h2>
        <div class="underline"></div>
        <div class="article-content dlaczego-my-content">
            <div class="why-us-point">
                <img src="~/quality.png" alt="Jakość" class="why-us-icon">
                <h3>Wysoka jakość</h3>
                <p>Nasze meble są wykonane z najlepszych materiałów, co gwarantuje ich trwałość i estetykę.</p>
            </div>
            <div class="why-us-point">
                <img src="~/customizable.png" alt="Dostosowanie" class="why-us-icon">
                <h3>Indywidualne podejście</h3>
                <p>Każdy projekt jest tworzony z myślą o specyficznych potrzebach i gustach naszych klientów.</p>
            </div>
            <div class="why-us-point">
                <img src="~/support.png" alt="Wsparcie" class="why-us-icon">
                <h3>Profesjonalne wsparcie</h3>
                <p>Zapewniamy pełne wsparcie na każdym etapie realizacji zamówienia, od projektu po montaż.</p>
            </div>
        </div>
    </div>


    <div class="article-container">
        <h2 class="article-header">Co myślą o nas inni</h2>
        <div class="underline"></div>
        <div class="article-content">
            <div class="reviews-scroll-container" style="font-family: 'Roboto', sans-serif;" id="reviews"></div>
        </div>
    </div>

    <div class="article-container">
        <h2 class="article-header">Znajdziesz nas tutaj</h2>
        <div class="underline"></div>
        <div class="article-content">
            <div class="map-and-link">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22609.83048946578!2d14.516358612221772!3d53.44047361203001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47aa09616590da93%3A0x2766d8ed07e07cf7!2sBUDIMEB!5e0!3m2!1spl!2spl!4v1722372388485!5m2!1spl!2spl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="fb-page" data-href="https://www.facebook.com/Budimeb" data-width="450" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Budimeb" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Budimeb">Budimeb producent mebli</a></blockquote></div>
            </div>
            
            </div>
    </div>


</body>
</html>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v20.0&appId=194828582263538" nonce="FNr5VeCm"></script>
<script>
    function initMap() {
        var placeId = 'ChIJk9qQZWEJqkcR93zgB-3YZic'; // Replace with your actual place ID
        var apiKey = 'AIzaSyBrS_TS_avTWVHfTFjg6pLKDFOJ_ijNVmA'; // Replace with your actual API key
        var service = new google.maps.places.PlacesService(document.createElement('div'));

        service.getDetails({
            placeId: placeId,
            fields: ['reviews']
        }, function (place, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                var reviewsContainer = document.getElementById('reviews');
                place.reviews.forEach(function (review) {
                    var reviewElement = document.createElement('div');
                    reviewElement.classList.add('review');

                    var reviewHeader = document.createElement('div');
                    reviewHeader.classList.add('review-header');

                    var reviewAvatar = document.createElement('img');
                    reviewAvatar.classList.add('review-avatar');
                    reviewAvatar.src = review.profile_photo_url || 'default-avatar.jpg';

                    var reviewAuthor = document.createElement('div');
                    reviewAuthor.classList.add('review-author');
                    reviewAuthor.textContent = review.author_name;

                    reviewHeader.appendChild(reviewAvatar);
                    reviewHeader.appendChild(reviewAuthor);

                    var reviewRating = document.createElement('div');
                    reviewRating.classList.add('review-rating');
                    for (var i = 0; i < 5; i++) {
                        var star = document.createElement('span');
                        star.classList.add('review-rating-star');
                        star.innerHTML = i < review.rating ? '★' : '☆';
                        reviewRating.appendChild(star);
                    }

                    var reviewText = document.createElement('div');
                    reviewText.classList.add('review-text');
                    reviewText.textContent = review.text;

                    var reviewDate = document.createElement('div');
                    reviewDate.classList.add('review-date');
                    reviewDate.textContent = new Date(review.time * 1000).toLocaleDateString();

                    reviewElement.appendChild(reviewHeader);
                    reviewElement.appendChild(reviewRating);
                    reviewElement.appendChild(reviewText);
                    reviewElement.appendChild(reviewDate);

                    reviewsContainer.appendChild(reviewElement);
                });
            } else {
                console.error('Google Places API error: ', status);
            }
        });
    }

    function loadScript(url, callback) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = url;
        script.async = true;
        script.defer = true;
        script.onload = callback;
        document.body.appendChild(script);
    }

    document.addEventListener('DOMContentLoaded', function () {
        loadScript(`https://maps.googleapis.com/maps/api/js?key=AIzaSyBrS_TS_avTWVHfTFjg6pLKDFOJ_ijNVmA&libraries=places&callback=initMap`, function () {
            console.log('Google Maps script loaded');
        });
    });
</script>